/* form.css */

/* Define the custom color variable */
:root {
  --cph-orange: #fbb040;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px;
}

h1 {
  color: var(--cph-orange);
  margin-bottom: 1rem;
}

form {
  width: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="date"] {
  width: 40%;
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="date"]:focus {
  border-color: var(--cph-orange);
  outline: none;
}

input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

button[type="submit"] {
  background-color: var(--cph-orange);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #ff9800; /* Slightly different shade on hover */
}

a {
  color: #007acc; /* Complementary color for the "Back" link */
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

a:hover {
  text-decoration: underline; /* Underline the link on hover */
}
